        table td {
            border: 1px solid black;
        }

        h1.top {
            color: rgb(255, 174, 0);
            font-size: 60px;
            font-weight: bold;
            background-color: rgb(20, 20, 111);
            display: inline-block;
            text-align: center;
            width: 500px;
            border-radius: 15px;
            margin-right: 5000px;
            padding-top: 25px;
            padding-bottom: 25px;
        }

        p {
            color: rgb(20, 20, 111);
            background-color: rgb(255, 174, 0);
            display: inline-block;
            margin-right: 1000px;
        }